/* homePage */
.homePage{
  color: #3D1101;
}

/* feature */
.feature .width-limit{
  padding: 50px 42px;
  text-align: center;
}
.feature-title{
  margin-bottom: 31px;
}
.feature-title h2{
  display: inline-block;
  position: relative;
  font-size: 20px;
  line-height: 32px;
}
.feature-title h2::before{
  content:'';
  width: 118px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: calc(-118px - 12px);
  background-color: #3D1101;
}
.feature-title h2::after{
  content:'';
  width: 118px;
  height: 1px;
  position: absolute;
  top: 50%;
  right: calc(-118px - 13px);
  background-color: #3D1101;
}

.feature-content{
  display: flex;
  justify-content: space-between;
}
.feature-content-block{
  max-width: 260px;
  margin: 0 20px;
}
.feature-content-block img{
  margin-bottom: 20px;
  border-radius: 50%;
}
.feature-content-block h3{
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 24px;
}
.feature-content-block p{
  text-align: left;
  line-height: 21px;
}

/* chef */
.chef{
  background-color: #3D1101;
}
.chef .width-limit{
  display: flex;
  padding: 0 42px;
}
.chef-img{
  width: 100%;
  max-width: 470px;
  height: 460px;
  margin-right: 25px;
  background-image: url(../img//main_chef_brown.png);
  background-size: cover;
  background-position: center;
}
.chef-content{
  color: #EFE9E7;
  max-width: 410px;
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.chef-content h2{
  font-size: 20px;
  line-height: 32px;
}
.chef-content h3{
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 16px;
}
.chef-content p{
  font-size: 16px;
  line-height: 21px;
}

/* experience */
.experience .width-limit{
  padding: 50px 42px;
  text-align: center;
}
.experience h2{
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 32px;
}
.experience-content{
  display: flex;
  justify-content: space-between;
}
.experience-block{
  display: flex;
}
.experience-block img{
  width: 67px;
  height: 67px;
  margin-right: 13px;
  border-radius: 50%;
}
.experience-block{
  width: 100%;
  max-width: 300px;
}
.experience-block div h3{
  text-align: left;
  line-height: 67px;
}
.experience-block p{
  text-align: right;
  font-size: 16px;
  line-height: 24px;
}
p.experience-comment{
  margin-bottom: 16px;
  text-align: left;
}


/* map */
.map{
  background: rgba(250,250,250,0.70);
}
.map .width-limit{
  padding: 50px 42px;
}
.map h2{
  margin-bottom: 38px;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
}
.map-content{
  display: flex;
}
.map-img{
  width: 100%;
  margin-right: 20px;
  background-image: url(../img/Map.png);
  background-position: top left;
  background-size: cover;
}
.map-content form{
  width: 100%;
}
.map-content label{
  margin-bottom: 6px;
  line-height: 20px;
  font-size: 14px;
}
.map-content input{
  width: 100%;
  height: 32px;
  margin-bottom: 12px;
  padding: 5px 14px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  font-size: 16px;
  line-height: 22px;
  background: #FFFFFF;
  box-shadow: inset 0px 1px 0px 0px #ECECEC;
}
.map-content input[type="radio"]{
  width: 16px;
  height: 16px;
  margin: 0 36px 0 6px;
  border: 1px solid #9B9B9B;
  box-shadow: none;
}
.map-content input[type="radio"]:focus{
  border: 1px solid #4A90E2;
}
.form div{
  display: flex;
  align-items: center;
}
.form div label{
  margin: 0;
  margin-bottom: 2px;
}

.map-btn{
  margin-left: auto;
}
.map-btn button{
  width: 70px;
}
.map-btn .btn-gray{
  margin-right: 11px;
}