.register{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px 30px 10px;
  text-align: center;
  color: #3D1101;
}
.register h1{
  margin-bottom: 5px;
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
}
.register h2{
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 20px;
  font-weight: medium;
}

.register-block{
  width: 100%;
  max-width: 620px;
  position: relative;
  padding: 15px;
  background: #EFE9E7;
  box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
}
.register-block::after{
  content:'';
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF5E45;
}
.register-block h3{
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.register-form{
  display: flex;
}
.register-form-terms{
  width: 100%;
  margin-right: 20px;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
}
.register-form-terms span{
  font-size: 16px;
}
.register-form form{
  width: 100%;
}

.form-password-1{
  margin-bottom: 12px;
}

.register-btn{
  text-align: right;
}
.register-btn button{
  width: 125px;
}
@media(max-width:425px){
  .register-form{
    flex-direction: column;
  }
  .register-form-terms{
    margin-bottom: 16px;
  }
  .register-block{
    max-width: 300px;
  }
}